* {
    font-family: 'B612', sans-serif;
    line-height: 20px;
}

a {
    color: #2b59c3;
    transition: 0.5s;
}

a:hover {
    color: #073763;
}

body {
    width: 40%;
    margin: auto;
    padding: 10px;
}

.nav-links a {
    color: #2b59c3;
    text-decoration: none;
    border-left: 5px solid #b6b6b6;
    padding: 2px;
    margin-right: 10px;
}

.nav-links a:hover {
    color: #0b5394;
    border-left: 5px solid #d36582;
}

.body-text h1 {
    border-left: 10px solid #ffdd4a;
    padding: 5px;
    color: #073763;
    font-size: 18px;
    text-transform: uppercase;
}

.body-text h2 {
    font-size: 14px;
    background-color: #073763;
    color: #fff;
    padding: 1px;
}

.body-text h3 {
    font-size: 13px;
}

.body-text p {
    font-size: 13px;
}

th {
    padding: 1px;
}

td, th {
    border-bottom: 2px solid #dddddd;
    font-size: 13px;
}

th, td {
    padding: 15px;
}

li {
    font-size: 13px;
}

footer {
    color: rgb(158, 158, 158);
    text-align: center;
    font-size: 11px;
}

footer a {
    color: rgb(158, 158, 158);
}

@media (max-width: 874px) {
    body {
        width: auto;
    }
}