@import url('https://fonts.googleapis.com/css?family=B612&display=swap');

* {
    font-family: 'B612', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

.top {
    padding: 20px;
    background-color: #0b5394;
    margin: 0;
}

.top a {
    text-decoration: none;
    color: #ffffff;
}

.card {
    margin: auto;
    background-color: #ffffff;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    line-height: 35px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 600px) {
    .card {
        width: auto;
        margin: 10px;
    }
    .card h1 {
        font-size: 30px;
    }
    .card p {
        font-size: 20px
    }
    .navbar {
        padding: 5%;
    }
    .navitem {
        padding: 2%;
    }
    .footer {
        padding: 5%;
    }
}
  
.card h1 {
    font-size: 35px;
}
  
.card p {
    font-size: 25px;
}
  
.card a {
    border-bottom: 3px solid #023b83;
    text-decoration: none;
    color: #000000;
}
  
.card a:hover {
    color: #172721;
    border-bottom: 3px solid #226cc4;
}

th {
    padding: 1px;
    margin: 1px;
}

td, th {
    border-bottom: 2px solid #dddddd;
}

th, td {
    padding: 15px;
}

.cool-footer {
    padding: 20px;
    background-color: #0b5394;
    text-align: center;
    color: #fff;
}

.cool-footer a {
    color: #ccc;
    border-bottom: 1px solid #ffdd4a;
    text-decoration: none;
}

.cool-footer a:hover {
    color: #fff;
    border-bottom: 1px solid #ffe67b;
}

.banner {
    height: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    background-image: url("pattern.png");
    line-height: 500px;
}

.sub-top {
    background-color: #ffdd4a;
    padding: 10px;
}

.sub-top a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

.sub-top a:hover {
    background-color: #e8c944;
    padding: 10px;
}
